<!DOCTYPE html>
<html>
<head>
	<title>Minimalist Flask MVC Framework</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
	<div class="container">
		<h1 class="heading-title">Minimalist Flask MVC Framework</h1>
		<a href="https://github.com/nadeengamage/flask-mvc-framework" target="_blank"><p>View Github</p></a>
	</div>

	<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>